@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
/* font-family: 'Shadows Into Light', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
/* font-family: 'Smooch', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* font-family: 'Abel', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
/* font-family: 'Indie Flower', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
/* font-family: 'Permanent Marker', cursive; */

$font1: 'Shadows Into Light', cursive;
$font2: 'Smooch', cursive;
$font3: 'Abel', sans-serif;
$font4: 'Indie Flower', cursive;
$font5: 'Permanent Marker', cursive;

html{
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-image: url(./assets/multimedia/blackfond.png);
    background-size: cover;
    overflow-x: hidden;
}

.body::-webkit-scrollbar{
    width: 7px;
    background-color: #8a7a18;
}


main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// INDEX
header{
    position: sticky;
    top: 0;
    left: 0;
    .navbar-brand {
        text-decoration: none;
        font-family: $font4;
        color: beige;
        padding: 5px;
        font-size: 20px;
        position: sticky;
        z-index: 100;
    
        img {
            margin-top: 10px;
            height: px;
            width: 60px;
        }
    
    }
}


.navbar-brand:hover {
    transform: translateY(20px);
    transition: 1s;
}

main{
    h1{
        font-family: $font1;
        color: #4b4949;
        padding-top: 50px;
        span{
            color: #8a7a18;
        }
        :hover{
            color: beige;
            font-size: 70px;
            writing-mode: vertical-rl;
            transition: 2s;


        }
        font-size: 50px;
        text-align: center;
    }
    h3{
        color: rgb(125, 125, 117);
        text-align: center;
        font-family: $font2;
        padding-top: 20px;
        padding-bottom: 50px;
        letter-spacing: 10px;

    }
    .home{
        padding-top: 50px;
        background-color: #0000007f;
        h4{
            font-family: $font4;
            color: #8a7a18;
            letter-spacing: 10px;
            text-align: center;
            padding: 20px;
            font-size: 40px;
            
        }
    }
    .item1{
        img{
            width: 300px;

            border-radius: 200px;
            background-color: #4b4949;
        }
    }
    p{
        color: beige;
    }
}

.texto:hover{
    box-shadow: 0 0 0 2px rgb(213, 210, 201) ;
    transition: 2s;
    border-radius: 30px;

}


.subir{
    height: 40px;
    width: 40px;
    background-color: #000000;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    color: beige;
    border: beige 3px solid;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    a{
        color: white;
    }
    a:hover{
        color: #4b4949;
    }
}




footer {
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #8a7a18 100%);
    min-height: 10px;
    width: 100%;
    text-align: center;
    padding: 5px;
    font-size: 20px;
    
    a {
        color: white;
        padding: 5px;
        font-size: 25px;
        :hover{
            color: #000000;
        }
    }
}






// about

.aboutTitle {
    color: #8a7a18;
    padding: 20px;
    font-family: $font3;
    text-align: left;
    font-size: 50px;
    
}
.aboutTitle:hover{
    transform: translateX(200px);
    transition: 5s;
    box-shadow: 0 0 0 2px rgb(213, 210, 201) ;
    transition: 2s;
    border-radius: 30px;
}
.about{
    background-color:#8a7b1853 ;
    border: solid black 5px;
    h4{
        font-family: $font3;
        font-size: 40px;
        text-align: center;
        padding: 15px;
        color: black;
    }
    p{
        font-family: $font1;
    }
    }
.perfil img{
    width: 500px;
    padding-top: 100px;
    }
.perfil img:hover{
    filter: grayscale(100%);
    border-radius: 250px;
    transition: 5s;
}

.tigre{
    background-image: url(./assets/multimedia/My\ project-1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;

    h3{
        font-family: $font1;
        font-size: 40px;
        padding: 20px;
        color: #000000;
    }

    p{
        font-family: $font1;
        text-align: center;
        color: rgb(171, 171, 154);
        font-size: 20px;
    }

}

// ansiedad

.ansiedad{
    background-color: #dea41b30;
    background-image: linear-gradient(0deg, #dea41b59 0%, #4948485f 70%);
border-radius: 20px;
margin-bottom: 20px;
margin-left: 15px;
margin-right: 15px;
p{
    font-family: $font3;
    margin: 10px;
    color: beige;
}
    
    
}



$map1: (
    ansiedad-gral: beige,
    ansiedad-panic: rgba(171, 155, 12, 0.42),
    ansiedad-depred: beige,
    ansiedad-fobia: rgba(171, 155, 12, 0.42),
);

@each $ansiedad,
$colors in $map1 {
    .btn--#{$ansiedad} {
        background-image: url(./assets/multimedia/blackfond.png);
        color: $colors;
        height: 300px;
        width: 100%;
        border: solid 2px white;
        text-align: center;
        font-size: 20px;
        font-family: 'Abel', sans-serif;



    }

    p {
        font-size: 20px;
        font-family: $font4;
        text-align: left;
        padding: 15px;
    }

    h2 {
        font-family: $font1;
        padding: 10px;
    }

}

.videosAnsiedad {
    background-color: #000000;
    width: 100%;
    margin: 15px;
}







// tratamientos

.tratamientoTitle {
    @extend .aboutTitle
}

.tratamientos1 {
    .row {
        color: #8a7a18;
        font-family: $font3;
        font-size: 40px;
        padding: 20px;
        border: solid rgba(234, 234, 140, 0.678);
        text-align: center;
        margin: 50px;
    }

    .google {
        text-align: center;

        a {
            text-decoration: none;
            color: rgba(234, 234, 140, 0.678);
            font-size: 30px;
            font-family: $font3;
            padding: 5px;
        }
    }
}


.google a:hover{
color:#000000 ;
box-shadow: 0 0 0 5px #8a7a18 ;
background-color: beige;
transition: 2s;
border-radius: 5px;
}


.tratamiento{
    h3{
        font-family: $font1;
    }
    p{
        font-family: $font3;
    
    }
    .lista{
        color: #8a7a18;
        font-family: $font3;
        font-size: 20px;
        padding: 15px;
    }
    h2{
        color: #8a7a18;
    }
}

.tratamiento h3:hover{
    color: #8a7a18;
}
.lista li:hover{
    transform:translateX(40px);
    transition: 2s;
}


// Galeria








    h1 {
        @extend .aboutTitle
    }

.galery{
    background-color: rgba(255, 255, 255, 0.071);
    border-radius: 30px;
    img{
        width: 100%;
        border-radius: 30px;
        padding: 10px;
    }
}

img:hover{
    filter: grayscale(100%);
    border-radius: 0px;
    transition: 5s;

}
.carrusel{
    h2{
        color: #8a7a18;
        text-align: center;
        font-size: 40px;
        padding: 15px;
        border: #fff solid 5px;
    }
    .carousel-item{
        width: 700px;
        height: 300px;
        text-align: center;
        filter: grayscale(100%);
    }
}
.tituloFormulario{
    color: #8a7a18;
    padding: 15px;
}
.formulario {
    width: 100%;
    height: 300px;
    padding: 30px;
    label{
        color: #8a7a18;
        font-family: $font3;
        font-size: 20px;
    }
}