@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
/* font-family: 'Shadows Into Light', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Smooch&display=swap");
/* font-family: 'Smooch', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
/* font-family: 'Abel', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
/* font-family: 'Indie Flower', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* font-family: 'Permanent Marker', cursive; */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-image: url(./assets/multimedia/blackfond.png);
  background-size: cover;
  overflow-x: hidden;
}

.body::-webkit-scrollbar {
  width: 7px;
  background-color: #8a7a18;
}

main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}
header .navbar-brand {
  text-decoration: none;
  font-family: "Indie Flower", cursive;
  color: beige;
  padding: 5px;
  font-size: 20px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}
header .navbar-brand img {
  margin-top: 10px;
  height: px;
  width: 60px;
}

.navbar-brand:hover {
  transform: translateY(20px);
  transition: 1s;
}

main {
  font-size: 50px;
  text-align: center;
}
main .tituloPrincipal {
  font-family: "Shadows Into Light", cursive;
  color: #4b4949;
  padding-top: 50px;
  text-align: center;
}
main .tituloPrincipal span {
  color: #8a7a18;
}

.tituloPrincipal:hover {
  transform: none;
}

h3 {
  color: rgb(125, 125, 117);
  text-align: center;
  font-family: "Smooch", cursive;
  padding-top: 20px;
  padding-bottom: 50px;
  letter-spacing: 10px;
}

.home {
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.4980392157);
}
.home h4 {
  font-family: "Indie Flower", cursive;
  color: #8a7a18;
  letter-spacing: 10px;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.item1 img {
  width: 300px;
  border-radius: 200px;
  background-color: #4b4949;
}

p {
  color: beige;
}

.texto:hover {
  box-shadow: 0 0 0 2px rgb(213, 210, 201);
  transition: 2s;
  border-radius: 30px;
}

.subir {
  height: 40px;
  width: 40px;
  background-color: #000000;
  position: fixed;
  bottom: 40px;
  right: 40px;
  text-align: center;
  font-size: 25px;
  line-height: 40px;
  color: beige;
  border: beige 3px solid;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff;
}
.subir a {
  color: white;
}
.subir a:hover {
  color: #4b4949;
}

footer {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #8a7a18 100%);
  min-height: 10px;
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}
footer a {
  color: white;
  padding: 5px;
  font-size: 25px;
}
footer a :hover {
  color: #000000;
}

.aboutTitle, .tituloGaleria, .tratamientoTitle {
  color: #8a7a18;
  padding: 20px;
  font-family: "Abel", sans-serif;
  text-align: left;
  font-size: 50px;
}

.aboutTitle:hover, .tituloGaleria:hover, .tratamientoTitle:hover {
  transform: translateX(200px);
  transition: 5s;
  box-shadow: 0 0 0 2px rgb(213, 210, 201);
  transition: 2s;
  border-radius: 30px;
}

.about {
  background-color: rgba(138, 123, 24, 0.3254901961);
  border: solid black 5px;
}
.about h4 {
  font-family: "Abel", sans-serif;
  font-size: 40px;
  text-align: center;
  padding: 15px;
  color: black;
}
.about p {
  font-family: "Shadows Into Light", cursive;
}

.perfil img {
  width: 400px;
  padding: 20px;
  text-align: center;
}

.perfil img:hover {
  filter: grayscale(100%);
  border-radius: 250px;
  transition: 5s;
}

.tigre {
  background-image: url(./assets/multimedia/My\ project-1.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.tigre h3 {
  font-family: "Shadows Into Light", cursive;
  font-size: 40px;
  padding: 20px;
  color: #000000;
}
.tigre p {
  font-family: "Abel", sans-serif;
  text-align: center;
  color: rgb(171, 171, 154);
  font-size: 16px;
}

.ansiedad {
  background-color: rgba(222, 164, 27, 0.1882352941);
  background-image: linear-gradient(0deg, rgba(222, 164, 27, 0.3490196078) 0%, rgba(73, 72, 72, 0.3725490196) 70%);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.ansiedad p {
  font-family: "Abel", sans-serif;
  margin: 10px;
  color: beige;
}

.btn--ansiedad-gral {
  background-image: url(./assets/multimedia/blackfond.png);
  color: beige;
  height: 300px;
  width: 100%;
  border: solid 2px white;
  text-align: center;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Indie Flower", cursive;
  text-align: left;
  padding: 15px;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
}

.btn--ansiedad-panic {
  background-image: url(./assets/multimedia/blackfond.png);
  color: rgba(171, 155, 12, 0.42);
  height: 300px;
  width: 100%;
  border: solid 2px white;
  text-align: center;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Indie Flower", cursive;
  text-align: left;
  padding: 15px;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
}

.btn--ansiedad-depred {
  background-image: url(./assets/multimedia/blackfond.png);
  color: beige;
  height: 300px;
  width: 100%;
  border: solid 2px white;
  text-align: center;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Indie Flower", cursive;
  text-align: left;
  padding: 15px;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
}

.btn--ansiedad-fobia {
  background-image: url(./assets/multimedia/blackfond.png);
  color: rgba(171, 155, 12, 0.42);
  height: 300px;
  width: 100%;
  border: solid 2px white;
  text-align: center;
  font-size: 20px;
  font-family: "Abel", sans-serif;
}

p {
  font-size: 16px;
  font-family: "Indie Flower", cursive;
  text-align: left;
  padding: 15px;
}

h2 {
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
}

.videosAnsiedad {
  background-color: #000000;
  width: 100%;
  margin: 15px;
}

.tratamientos1 .row {
  color: #8a7a18;
  font-family: "Abel", sans-serif;
  font-size: 40px;
  padding: 20px;
  border: solid rgba(234, 234, 140, 0.678);
  text-align: center;
  margin: 50px;
}
.tratamientos1 .google {
  text-align: center;
}
.tratamientos1 .google a {
  text-decoration: none;
  color: rgba(234, 234, 140, 0.678);
  font-size: 30px;
  font-family: "Abel", sans-serif;
  padding: 5px;
}

.google a:hover {
  color: #000000;
  box-shadow: 0 0 0 5px #8a7a18;
  background-color: beige;
  transition: 2s;
  border-radius: 5px;
}

.tratamiento h3 {
  font-family: "Shadows Into Light", cursive;
}
.tratamiento p {
  font-family: "Abel", sans-serif;
}
.tratamiento .lista {
  color: #8a7a18;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  padding: 15px;
}
.tratamiento h2 {
  color: #8a7a18;
}

.tratamiento h3:hover {
  color: #8a7a18;
}

.lista li:hover {
  transform: translateX(40px);
  transition: 2s;
}

.galery {
  background-color: rgba(255, 255, 255, 0.071);
  border-radius: 30px;
}
.galery img {
  width: 100%;
  border-radius: 30px;
  padding: 10px;
}

img:hover {
  filter: grayscale(100%);
  border-radius: 0px;
  transition: 5s;
}

.carrusel h2 {
  color: #8a7a18;
  text-align: center;
  font-size: 40px;
  padding: 15px;
  border: #fff solid 5px;
}
.carrusel .carousel-item {
  width: 600px;
  height: 300px;
  text-align: center;
  filter: grayscale(100%);
}

.tituloFormulario {
  color: #8a7a18;
  padding: 15px;
}

.formulario {
  width: 100%;
  height: 300px;
  padding: 30px;
}
.formulario label {
  color: #8a7a18;
  font-family: "Abel", sans-serif;
  font-size: 16px;
}/*# sourceMappingURL=estilos.css.map */